Servicios.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://Vista/" name="Servicios" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://Vista/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Vista/" schemaLocation="Servicios_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="Recarga">
    <part name="parameters" element="tns:Recarga"/>
  </message>
  <message name="RecargaResponse">
    <part name="parameters" element="tns:RecargaResponse"/>
  </message>
  <message name="PagoDos">
    <part name="parameters" element="tns:PagoDos"/>
  </message>
  <message name="PagoDosResponse">
    <part name="parameters" element="tns:PagoDosResponse"/>
  </message>
  <message name="PagoUno">
    <part name="parameters" element="tns:PagoUno"/>
  </message>
  <message name="PagoUnoResponse">
    <part name="parameters" element="tns:PagoUnoResponse"/>
  </message>
  <portType name="Servicios">
    <operation name="Recarga">
      <input wsam:Action="http://Vista/Servicios/RecargaRequest" message="tns:Recarga"/>
      <output wsam:Action="http://Vista/Servicios/RecargaResponse" message="tns:RecargaResponse"/>
    </operation>
    <operation name="PagoDos">
      <input wsam:Action="http://Vista/Servicios/PagoDosRequest" message="tns:PagoDos"/>
      <output wsam:Action="http://Vista/Servicios/PagoDosResponse" message="tns:PagoDosResponse"/>
    </operation>
    <operation name="PagoUno">
      <input wsam:Action="http://Vista/Servicios/PagoUnoRequest" message="tns:PagoUno"/>
      <output wsam:Action="http://Vista/Servicios/PagoUnoResponse" message="tns:PagoUnoResponse"/>
    </operation>
  </portType>
  <binding name="ServiciosPortBinding" type="tns:Servicios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Recarga">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PagoDos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PagoUno">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Servicios">
    <port name="ServiciosPort" binding="tns:ServiciosPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

